:root {
    --color-primary: #B1068C;
}

* {
    margin: 0;
    font-family: Verdana, sans-serif;
    color: white;
}

.gradient {
    background: #B1068C;
    background: linear-gradient(207deg,rgba(177, 6, 140, 1) 0%, rgba(80, 0, 130, 1) 100%);
}

.navContainer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navContainer ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}


nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    font-weight: bolder;


    &:hover {
        color: gray;
        transition: 200ms;
    }
}